<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="SourceSqlConnectionString" value="Server=(local);Integrated Security=true;AttachDbFileName=C:\Temp\AzureSearch\CatalogIndexer\AdventureWorksCatalog.mdf"/>
    <add key="SearchServiceName" value="eycdemo" />
    <add key="SearchServiceApiKey" value="02031BBAAE85B14ACA7E4EF831B94214" />
  </appSettings>
</configuration>